---
import Button from '@/components/starwind/button';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home | Apex Web Solutions'>
	<h1>Apex Web Solutions</h1>
	<p>Web development solutions for your business</p>
</Layout>
