---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Pricing | Apex Web Solutions'>
    <div
        class='container mx-auto py-16 min-h-[calc(100vh-4rem)] flex flex-col items-center justify-center'
    >
        <h1 class='text-4xl font-bold mb-4'>Pricing</h1>
        <p class='text-lg mb-4'>Choose the plan that best fits your needs</p>
    </div>
</Layout>
