---
import { ServerStatus } from "@/components/ServerStatus";
---

<section
  id="home"
  class="flex min-h-screen scroll-mt-16 items-center justify-center"
>
  <div class="container mx-auto px-4">
    <h2 class="mb-8 text-3xl font-bold">Home</h2>
    <ServerStatus client:load />
  </div>
</section>
